.sidebar {
  border: 1px solid black;
  border-radius: 8px;
}
.evetcard {
  margin-bottom: 10px;
}
.eventcard:hover {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(34, 32, 32, 0.2);
}
