.sidebar {
  /* border: 1px solid black; */
  border-radius: 8px;
  width: 80%;
  justify-content: center;
  border: 1px solid black;
  /* position: fixed; */
  padding: 15px 20px;
}
.evetcard {
  margin-bottom: 10px;
}
.eventcard:hover {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(34, 32, 32, 0.2);
}
